<<<<<<< HEAD
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.dialog-box {
    background: #333;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    border-radius: 3rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.dialog-box h4 {
    margin-bottom: 20px;
    font-size: 1.1rem;
    line-height: 1.4;
}

.dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.dialog-button {
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
}

.btn-ok {
    background: #111;
    color: #28a745;
}

.btn-cancel {
    background: #111;
    color: #dc3545;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
=======
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.dialog-box {
    background: #333;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    border-radius: 3rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.dialog-box h4 {
    margin-bottom: 20px;
    font-size: 1.1rem;
    line-height: 1.4;
}

.dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.dialog-button {
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
}

.btn-ok {
    background: #111;
    color: #28a745;
}

.btn-cancel {
    background: #111;
    color: #dc3545;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
>>>>>>> a3b44d6fb8c71b730f438ac29d576b7db5de1647
}